#
#  Copyright (c) 2021 International Business Machines
#  All rights reserved.
#
#  SPDX-License-Identifier: LGPL-3.0-or-later
#
#  Authors: anita.shekar@ibm.com, sandy.kaur@ibm.com
#


[config]
enable_auth = False
gateway_addr = my.server
gateway_port = 5500
proto_path = /path/to/proto/files

nvme_host = 192.168.50.4  
nvme_port = 5000

[mtls]
client_key = ./client.key
client_cert = ./client.crt
server_cert = ./server.crt
