**
# Exclude everything except:
!control/*.py
!control/proto/__init__.py
!control/proto/*.proto
!pyproject.toml
!pdm.lock
!pdm.toml
!README.md
!LICENSE
!ceph-nvmeof-monitor-client/ceph-nvmeof-monitor-client
!ceph-nvmeof-monitor-client/libceph-common.so.2
