#
#  Copyright (c) 2021 International Business Machines
#  All rights reserved.
#
#  SPDX-License-Identifier: LGPL-3.0-or-later
#
#  Authors: anita.shekar@ibm.com, sandy.kaur@ibm.com
#

[config]

enable_auth = False
gateway_addr = [::]
gateway_port = 5500
gateway_group =
grpc_server_max_workers = 10

[ceph]

pool = rbd
config_file = /etc/ceph/ceph.conf

[mtls]

server_key = ./server.key
client_key = ./client.key
server_cert = ./server.crt
client_cert = ./client.crt

[spdk]

spdk_path = /path/to/spdk
tgt_path = spdk/build/bin/nvmf_tgt
rpc_socket = /var/tmp/spdk.sock
timeout = 60.0
log_level = ERROR
conn_retries = 3
tgt_cmd_extra_args =
